*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    overflow-x:hidden;
}



body{
    background-color:black;
}

h1{
    color: white;
    text-align:center;
    font-size:40px;
    margin-bottom:50px
}

.freeCodeCamp-icon{
    display:block;
    width:270px;
    margin: 150px auto 30px auto;
    
}

.check-box{

    
    background-color:white;
    width:450px;
    height:140px;
    border-radius:20px;
    margin:0px auto 0px auto;
    box-shadow: 0px 3px 0px 0px blue;

}

