*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    overflow-x:hidden;
}



body{
    background-color:black;
}

h1{
    color: white;
    text-align:center;
}

.freeCodeCamp-icon{
    display:block;
    width:270px;
    margin: 150px auto 30px auto;
    
}

