*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html{
    overflow-x:hidden;
}

.freeCodeCamp-icon{
    display:block;
    width:270px;
    height:220px;
    margin: 50px auto 30px auto;
    



}

body{
    background-color:black;
}